### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']

In [1]:
import pandas as pd

In [8]:
authors=pd.DataFrame({"author_id":[1,2,3], "author_name":['Тургенев', 'Чехов', 'Островский']})
print(authors)
book = pd.DataFrame({"author_id":[1, 1, 1, 2, 2, 3, 3],
                     "book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     "price":[100,200,300,50,85,150,175]
                    })
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    100
1          1                 Рудин    200
2          1     Дворянское гнездо    300
3          2      Толстый и тонкий     50
4          2       Дама с собачкой     85
5          3                 Гроза    150
6          3  Таланты и поклонники    175

### Задание 2

Получите датафрейм authors_price, соединив дата фреймы authors и books по полю author_id

In [9]:
authors_price=pd.merge(authors, book, on="author_id",how="inner")
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    100
1          1    Тургенев                 Рудин    200
2          1    Тургенев     Дворянское гнездо    300
3          2       Чехов      Толстый и тонкий     50
4          2       Чехов       Дама с собачкой     85
5          3  Островский                 Гроза    150
6          3  Островский  Таланты и поклонники    175

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [12]:
top5=authors_price.nlargest(5,"price")
print(top5)

   author_id author_name            book_title  price
2          1    Тургенев     Дворянское гнездо    300
1          1    Тургенев                 Рудин    200
6          3  Островский  Таланты и поклонники    175
5          3  Островский                 Гроза    150
0          1    Тургенев           Отцы и дети    100

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [18]:
authors_stat = authors_price.groupby("author_name").agg(
    min_price=pd.NamedAgg(column="price", aggfunc="min"),
    max_price=pd.NamedAgg(column="price", aggfunc="max"),
    mean_price=pd.NamedAgg(column="price", aggfunc="mean"))
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         150        175       162.5
Тургенев           100        300       200.0
Чехов               50         85        67.5

### Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [20]:
authors_price["cover"]=['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    100  твердая
1          1    Тургенев                 Рудин    200   мягкая
2          1    Тургенев     Дворянское гнездо    300   мягкая
3          2       Чехов      Толстый и тонкий     50  твердая
4          2       Чехов       Дама с собачкой     85  твердая
5          3  Островский                 Гроза    150   мягкая
6          3  Островский  Таланты и поклонники    175   мягкая

In [23]:
book_info=authors_price.pivot_table(values="price",index="author_name",columns="cover", aggfunc="sum", fill_value=0)
print(book_info)

cover        мягкая  твердая
author_name
Островский      325        0
Тургенев        500      100
Чехов             0      135

In [24]:
book_info.to_pickle('book_info.pkl')
book_info_2=pd.read_pickle('book_info.pkl')
print(book_info_2)

cover        мягкая  твердая
author_name
Островский      325        0
Тургенев        500      100
Чехов             0      135